<div class="row">
    <!-- Search users panel -->
    <div class="col-md-6 user-selector-panel">
        <div class="panel panel-default user-search-panel">
            <div class="panel-heading">Search Users</div>
            <div class="panel-body">
                <input type="text" class="form-control search-users" placeholder="Search" ng-change="userSelectorCtrl.searchUser()" ng-model="userSelectorCtrl.userSearchTerm">
            </div>
            <ul class="list-group">
                <user-selector-button ng-repeat="user in userSelectorCtrl.searchedUsers" username="user" status="userSelectorCtrl.isUserSelected(user)" select="userSelectorCtrl.selectUser(username)"></user-selector-button>
            </ul>
        </div>
    </div>
    <!-- Selected users panel -->
    <div class="col-md-6 user-selector-panel">
        <div class="panel panel-default selected-users-panel">
            <div class="panel-heading">Selected Users</div>
            <ul class="list-group">
                <user-selector-button ng-repeat="user in userSelectorCtrl.selectedusernames" username="user" status="userSelectorCtrl.isUserSelected(user)" select="userSelectorCtrl.selectUser(username)"></user-selector-button>
            </ul>
        </div>
    </div>



</div>