<div class="row">
    <div class="col-lg-3">
        <h3>Teams</h3>
        <ul>
            <li ng-repeat="team in loggedInWindowCtrl.teams">
                {{team}}
            </li>
        </ul>
        <h3> Users </h3>
        <ul>
            <li ng-repeat="user in loggedInWindowCtrl.userList">
                {{user}}
            </li>
        </ul>

        <button  ng-disabled="loggedInWindowCtrl.userPage <= 0" ng-click="loggedInWindowCtrl.userListPreviousPage()">Previous page</button>
        <button ng-disabled="loggedInWindowCtrl.userList.length != 20" ng-click="loggedInWindowCtrl.userListNextPage()">Next page</button>

    </div>
    <div class="col-lg-9">
        <ui-view></ui-view>
    </div>
</div>