/* bootstrap required css */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* login */
.loginForm, .sign-up-form {
    margin-top: 20pt;
    padding: 15pt;
}

/* home */
.user-list-nav {
    text-align:center;
}

/* taskview */
.task-view, .team-info {
    margin: 10pt;
}