/* bootstrap required css */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* login */
.loginForm, .sign-up-form {
    margin-top: 20pt;
    padding: 15pt;
}

/* taskview */
.task-view {
    margin: 10pt;
}